In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titles.csv')

In [4]:
ser_pd = df["title"]

In [5]:
type(ser_pd)

pandas.core.series.Series

In [6]:
ser_pd

0                   Spanish Fiesta
1           La tierra de los toros
2                    Dama de noche
3                       Frivolinas
4                     Mya ga naing
                    ...
213660                   Safeguard
213661    Il talento del calabrone
213662                       Coven
213663         The Secret of China
213664         Kuambil Lagi Hatiku
Name: title, Length: 213665, dtype: object

In [8]:
ser_pd.sort_values().head()

128033    !Women Art Revolution
146071         #1 Serial Killer
157228                       #5
181023                      #66
118128    #73, Shaanthi Nivaasa
Name: title, dtype: object

In [9]:
df

                           title  year  rating  votes
0                 Spanish Fiesta  2019     6.9     29
1         La tierra de los toros  2000     5.4     14
2                  Dama de noche  1993     6.0     25
3                     Frivolinas  2014     5.6     19
4                   Mya ga naing  1996     7.5     21
...                          ...   ...     ...    ...
213660                 Safeguard  2020     3.5    225
213661  Il talento del calabrone  2020     5.8   1197
213662                     Coven  2020     6.4   4014
213663       The Secret of China  2019     3.8     14
213664       Kuambil Lagi Hatiku  2019     8.3      6

[213665 rows x 4 columns]

In [15]:
filtro_s = df.title.str.contains("sex")
filtro_rating = df.rating.str>9
df[filtro_s [filtro_rating]]

AttributeError: Can only use .str accessor with string values!